# Exercise

Ok, its time to practice what we just covered in the Opening and reading files chapter. We are going to use pandas to open a csv and then proceed to carry out a bit.

Let's start off by downloading the csv combined_indicators_for_nigeria_2. This is a csv file, read the file using pandas.

- Print the first 5 columns in the dataframe and the name of all the columns
- in addition to this change the column <strong><i>country_iso3</i></strong> to <strong><i>country iso code</i></strong>

In [34]:
# path = 'C://Users//User//Documents//GradientBoostCurriculum//GradientBoostIntrotoDS//Introduction to Python//Chapter 3 - File Handling, Introduction to Pandas//combined_indicators_for_nigeria_2.csv'
# import pandas as pd
# df = pd.read_csv(path)

#answer here
import pandas as pd
file = "combined_indicators_for_nigeria_2.csv"

df = pd.read_csv(file)
df.rename(columns={'country_iso3':'country iso code'}, inplace=True)
df.head()

,country_name,country iso code,year,indicator_name,indicator_code,value
0,Nigeria,NGA,2007,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,24800.0
1,Nigeria,NGA,2006,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,23999.0
2,Nigeria,NGA,2005,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,23000.0
3,Nigeria,NGA,2004,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,23000.0
4,Nigeria,NGA,2003,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,22000.0

# Question 1

Select data in your dataframe where the indicator name is;
- "Net bilateral aid flows from DAC donors, Australia (current US$) or
- Net bilateral aid flows from DAC donors, United Kingdomor
- Net bilateral aid flows from DAC donors, United States or 
- Net bilateral aid flows from DAC donors, European Union institutions

Save this as western_dac_donors

In [42]:
#answer here
donors = ["Net bilateral aid flows from DAC donors, Australia (current US$)", "Net bilateral aid flows from DAC donors, United Kingdom", "Net bilateral aid flows from DAC donors, United States", "Net bilateral aid flows from DAC donors, European Union institutions"]

western_dac_donors = df.loc[:, 'indicator_name']
western_dac_donors.head()

0    Agricultural machinery, tractors
1    Agricultural machinery, tractors
2    Agricultural machinery, tractors
3    Agricultural machinery, tractors
4    Agricultural machinery, tractors
Name: indicator_name, dtype: object

In [37]:
df.donors

AttributeError: 'DataFrame' object has no attribute 'donors'

# Question 2

Great, now select the rows where the indicator_name relates to Net officual flows from UN agencies, save this subset as un_agencies_donor

In [49]:
#answer here

un_agencies_donor = df.where([df.indicator_name] in 'Net official flows from UN agencies,')
un_agencies_donor.head()

ValueError: Array conditional must be same shape as self

# Question 3

Select all the rows in un_agencies_donor where the year is greater than or equal to 2015, sort these rows by <strong>value</strong> in descending order ie. starting with the largest value

In [25]:
#answer here

,country_name,country_iso3,year,indicator_name,indicator_code,value
2894,Nigeria,NGA,2013,"Net official flows from UN agencies, FAO (curr...",DT.NFL.FAOG.CD,440000.0
2895,Nigeria,NGA,2017,"Net official flows from UN agencies, IAEA (cur...",DT.NFL.IAEA.CD,470000.0
2896,Nigeria,NGA,2016,"Net official flows from UN agencies, IAEA (cur...",DT.NFL.IAEA.CD,510000.0
2897,Nigeria,NGA,2015,"Net official flows from UN agencies, IAEA (cur...",DT.NFL.IAEA.CD,400000.0
2898,Nigeria,NGA,2014,"Net official flows from UN agencies, IAEA (cur...",DT.NFL.IAEA.CD,640000.0

# Question 4
How much money did Nigeria receive from 
- i.) WHO in 2016 and 2017
- ii.) bilateral aid flows from DAC donor, United Kingdom in 2016 and 2017

In [ ]:
# answer here

# Question 5

- i.) Calculate the mean value of all net official flows from UN agencies in 2016
- ii.) Calculate the median value of all net official flows from UN agencies in 2016

In [ ]:
#answer here